* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

a img {
    border: 0px;
}

#pageWrapper {}

#announcementsBox {
    width: 245px;
}

#announcementsBox .header {
    padding: 0px;
    background: #666666 url(../img//NOTICE_annHeaderBack.jpg) repeat-x center top;
    border: solid 1px #919191;
    text-align: center;
    height: 23px;
}

#announcementsBox .header img {
    margin: 0px auto;
    height: 23px;
}

#announcementsBox .content {
    border: solid 1px #222222;
    padding-top: 0px;
}

#announcementsBox .content ul {
    padding: 0px 0px;
    list-style-type: none;
    height: 108px;
}

#announcementsBox .content ul li {
    border-bottom: solid 1px #222222;
    overflow: hidden;
}

#announcementsBox .content ul li.first {
    border-top: solid 1px #222222;
}

#announcementsBox .content ul li a,
#announcementsBox .content ul li a:link,
#announcementsBox .content ul li a:visited,
#announcementsBox .content ul li a:active {
    position: relative;
    font: bold 10px/20px Verdana, Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    text-decoration: none;
    height: 20px;
    padding: 0px 0px;
}

#announcementsBox .content ul li a:hover {
    background-color: #222222;
}

#announcementsBox .content ul li a #date {
    white-space: nowrap;
    font: normal 10px/20px Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #666666;
}

#announcementsBox .content ul li a #date.new {
    background: url(../img/NOTICE_new.gif) no-repeat left top;
    padding-left: 47px;
}

#announcementsBox .content a#more,
#announcementsBox .content a#more:link,
#announcementsBox .content a#more:visited,
#announcementsBox .content a#more:active {
    display: block;
    float: right;
    background: #333333 url(../img/NOTICE_moreLinkBack.jpg) repeat-x center center;
    margin: 0px;
    font: bold 10px/14px Verdana, Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    border: solid 1px #333333;
    padding: 0px 8px 4px 8px;
}

#announcementsBox .content a#more:hover {
    text-decoration: underline;
}

#aeriaMenu ul {
    width: 245px;
    height: 32px;
    background: url(../img/NOTICE_aeriaMenuBack.jpg) repeat-x right top;
    overflow: hidden;
}

#aeriaMenu ul li {
    float: left;
    width: 49%;
    display: inline;
}

.clear {
    clear: both;
}